# --- Données du Projet & Volumes Docker ---
data/
mongo-data/
# Capture tous les dossiers commençant par checkpoints
checkpoints*/ 
# Capture les dossiers d'archivage créés par Spark
corridor_history/
corridor_silver/

# --- Formats de données Big Data ---
*.json
*.parquet
*.csv
*.log

# --- Python & Environnement ---
__pycache__/
*.py[cod]
*$py.class
.env
venv/
.venv/
env/

# --- Système & IDE ---
.DS_Store
.vscode/
.idea/
*.swp